@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";

.sidebar {
    position: sticky;
    max-height: 100vh;
    top: 100px;
    bottom: 0;
}

img {
    margin: auto;
    width: 40%;
}